@import url("../webfonts/HIROMISAKE/stylesheet.css");
@import url("../webfonts/SuperMario256/stylesheet.css");
@import url("../webfonts/CaviarDreams/stylesheet.css");
@import url("../webfonts/Anta_Regular/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

*{
     margin: 0;
     padding: 0;
}

body{
	width: 100%;
	  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header {
	font-size: 30px;
	color: white;
}
            

header, nav, main, footer{
    width: 900px;
    margin: 0 auto;
    padding: 30px;
}

header, footer{
    height: 100px;
    background-color: #ED6A5A;
    color: aliceblue;
    text-align: center;
    font-family: monospace;
}

footer{
    height: 50px;
    font-size: 18px;
    margin: 0 auto;
}

  nav {
    background-color: #36C9C6;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

  main {
    background-color: #F4F1BB;
    padding-top: 30px;
    height: auto;
}

section{
	background-color: #E6EBE0;
    margin: 30px auto;
    padding: 20px;
    height: auto;
            }
 nav ul li{
    list-style-type: none;
    display: inline-block;
            }
            
nav ul li a{
    width: 500px;
    height: 30px;
    background-color: lightblue;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    border: 5px solid darkblue;
    border-radius: 10px;
    font-family: sans-serif;
            }
            
nav ul li a:hover{
   background-color: lightskyblue;
   color: ghostwhite;
   border-color: darkviolet;
   border-width: 10px;
   border-style: inset;
   border-radius: 30%;
            }

table{
	margin: 0 auto;
	width: 80%;
	}

table, td, th{
	border: 2px solid #36C9C6;
	border-collapse: collapse;
	padding: 10px;
}

th{
	background-color: #36C9C6;
	color: #E6EBE0;
}

td{
	background-color: #BFF9F8;
	
}

#tabla_uno, #tabla_uno td, #tabla_uno th{
	border: 2px solid #00008B;
	border-collapse: collapse;
	padding: 10px;
}

#tabla_uno th{
	background-color:#ED6A5A;
	color:#E6EBE0;
}

#tabla_dos tbody tr td{
    background-color: transparent;
}

#tabla_dos tbody tr:nth-child(even){
	background-color: #ED6A5A;
	color: #E6EBE0;
	
}

#tabla_dos tbody tr:nth-child(odd){
	background-color: #F4F1BB;
	color: #36C9C6;
	
}
#section_galeria {
    width: 100%;
    height: auto;
}
.img_galeria {
    margin: 0;
    padding: 0;
    width: 70%;
    height: auto;
}
.tabla_galeria {
}
.filtro_brillo {
    filter: brightness(50%);
}
.filtro_sepia {
    filter: sepia(100%);
}
.filtro_grises {
    filter: grayscale(100%);
}
.filtro_contraste {
    filter: contrast(200%);
}
.filtro_opacidad {
    filter: opacity(50%);
}
.filtro_negativo {
    filter: invert(100%);
}
.filtro_sombra {
    filter: drop-shadow(5px 5px 10px gray);
}
#tabla_tres tbody tr td {
	background-color: transparent;
}
#tabla_tres tbody tr:hover  {
	background-color: #ED6A5A;
	color: #E6EBE0;
}
.video_all {
}
body header h1 {
    font-family: HIROMISAKE;
    font-style: normal;
    color: #F4F1BB;
}
main section h3 {
    font-family: "Anta Regular";
    color: #ED6A5A;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}
